<section id="setting-enhancements" class="tab {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

<div class="scrollable">

  <fieldset>
    <legend>Weapon Property and Mastery Enhancements</legend>
    <p>DDB Importer will attempt to add properties and masteries to weapons, as well as create base weapons for sources here. When you munch items sources will be automatically added here. Some features, such as base weapons do require weapons to be imported.</p>

    <div id="weapon-properties-enhancements-source-div">
      <multi-select id="allowed-weapon-property-sources" name="allowed-weapon-property-sources">
        {{#each selectedWeaponPropertiesEnhancementsSources}}
        <option value="{{this.id}}" {{this.selected}}> {{this.label}}</option>
        {{/each}}
      </multi-select>
    </div>
  </fieldset>

  <fieldset>
    <legend>Enhancement Options</legend>
    <p>These are enhancements to the 5e system that provide new functionality or mild automation. Please reload your session for these to take effect.</p>
    {{#each enhancementConfig}}
    <div class="form-group enhancements-config">
      <label>{{ this.label }}</label>
      <div class="form-fields">
        <dnd5e-checkbox name="{{this.name}}" id="enhancements-config-{{this.name}}" {{#if this.isChecked}}checked{{/if}}
        data-section="{{this.name}}" {{#if this.enabled}}enabled{{else}}disabled{{/if}}></dnd5e-checkbox>
      </div>
      <p class="hint">{{{this.hint}}}</p>
    </div>
    {{/each}}
  </fieldset>

</div>

</section>
