<div>
  {{#if dataDirSet}}
  <div class="form-section">
    <div class="form-description">
      <h3>Get your Character's ID</h3>
      <p>Insert a URL to your character below. Make sure that the character is set to <b>public</b>.</p>
      <p>You can use any of the following:</p>
      <ul>
        <li><b>The regular character sheet URL</b>, e.g. https://www.dndbeyond.com/profile/[Username]/characters/[CharacterId]</li>
        <li><b>A link to a shared character</b>, e.g. https://ddb.ac/characters/[CharacterId]/[RandomString]</li>
        <li><b>The Character API itself</b>, e.g. https://character-service.dndbeyond.com/character/v4/character/[CharacterId]</li>
      </ul>
    </div>
    <div class="form-caption">
      URL
      <span class="dndbeyond-url-status">{{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}<i
          class="fas fa-check-circle" style="color: green"></i>{{else}}<i></i>{{/if}}</span>
    </div>
    <div class="form-content" style="display: flex">
      <input type="text" name="dndbeyond-url" style="flex: 0 1 auto" ;
        value="{{#if actor.data.flags.ddbimporter.dndbeyond.url}}{{actor.data.flags.ddbimporter.dndbeyond.url}}{{/if}}" />
      <button type="button" id="open-dndbeyond-url" name="open-dndbeyond-url"
        style="flex-basis: 20px; flex-grow: 0;line-height: 20px;"
        {{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}enabled{{else}}disabled{{/if}}>
        <i class="fas fa-external-link-alt"></i></button>
    </div>
    <div class="form-caption">
      Character ID
    </div>
    <div class="form-content">
      <span
        class="dndbeyond-character-id">{{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}{{actor.data.flags.ddbimporter.dndbeyond.characterId}}{{else}}Not detected{{/if}}</span>
    </div>

  </div>
  <hr>
  <div>
    <h3>Update selection</h3>
    <p>Only ticked items will be updated.</p>
    <div class="import-policy-group">
      {{#each importPolicies}}
      <div class="import-policy"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
          name="character-import-policy-{{this.name}}" data-section="{{this.name}}">{{this.description}}
      </div>
      {{/each}}
    </div>
    <hr>
    <div>
      <h3>Update configuration</h3>
      {{#each importConfig}}
      <div class="import-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
          name="character-import-policy-{{this.name}}" data-section="{{this.name}}"
          {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
      </div>
      {{/each}}
    </div>
    <hr>
    <div>
      <h3>Notes</h3>
      <p>To get full known spell lists for Clerics, Druids and Paladins set your cobalt cookie (in the module settings).<br>
          Use my <a href="https://github.com/MrPrimate/ddb-importer-chrome">Chrome extension</a> to get this!
      </p>
      <p>While you wait, why not support me on <a href="https://www.patreon.com/MrPrimate">Patreon</a>?</p>
    </div>
    <hr>
    <div class="form-section">
      <div class="form-description">
        <div class="form-description"></div>
        <div>
          <button type="button" id="dndbeyond-character-import-start"
            {{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}enabled{{else}}disabled{{/if}}>Start Import</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="task-name"></div>
  <hr>
  <div>
    <h3>Advanced configuration</h3>
    <p>If you're using this module for the first time, you probably don't want to enable these.</p>
    {{#each advancedImportConfig}}
    <div class="advanced-import-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
        name="character-import-policy-{{this.name}}" id="character-import-policy-{{this.name}}" data-section="{{this.name}}"
        {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
    </div>
    {{/each}}
  </div>
  {{else}}
  <h3>Configuration Needs Completing!</h3>
  <p>Please make sure you have set an images upload directory in the module settings.</p>
  <p>If you need help getting setup checkout the following YouTube videos:</p>
  <p>
    <li>Encounter Library's <a href="https://www.youtube.com/watch?v=9PjPkugkF1o">Amazing Overview (Install, Setup, How to Use)</a> is recommended!</li>
    <li>MrPrimate's <a href="https://youtu.be/8XRxCy9xmyE">Installation, configuration and character imports</a></li>
    <li>MrPrimate's <a href="https://youtu.be/98KGHSM33U0">Spells, Items, and Monsters</a></li>
  </p>
  {{/if}}
</div>
