<form>

  <!-- Character Import Header -->
  <header class="sheet-header">
    <img class="character-icon" src="{{actor.data.token.img}}" data-edit="img">
    <h1 class="character-title">{{ actor.name }}</h1>
  </header>

  <hr>
    <div class="form-section">
    <div class="form-caption">
      URL
      <span class="dndbeyond-url-status">{{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}<i
          class="fas fa-check-circle" style="color: green"></i>{{else}}<i></i>{{/if}}</span>
    </div>
    <div class="form-content" style="display: flex">
      <input type="text" name="dndbeyond-url" style="flex: 0 1 auto" ;
        value="{{#if actor.data.flags.ddbimporter.dndbeyond.url}}{{actor.data.flags.ddbimporter.dndbeyond.url}}{{/if}}" />
      <button type="button" id="open-dndbeyond-url" name="open-dndbeyond-url"
        style="flex-basis: 20px; flex-grow: 0;line-height: 20px;"
        {{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}enabled{{else}}disabled{{/if}}>
        <i class="fas fa-external-link-alt"></i></button>
    </div>
    <div class="form-caption">
      Character ID
    </div>
    <div class="form-content">
      <span
        class="dndbeyond-character-id">{{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}{{actor.data.flags.ddbimporter.dndbeyond.characterId}}{{else}}Not detected{{/if}}</span>
    </div>

  </div>

  <!-- Character Configuration Tabs -->
  <nav class="sheet-tabs tabs">
  {{#if importAllowed}}
    <a class="item active" data-tab="import"><i class="fas fa-arrow-alt-circle-down"></i> Import Character</a>
    <a class="item" data-tab="config"><i class="fas fa-cogs"></i> Advanced Settings</a>
    <a class="item" data-tab="extras"><i class="fas fa-pastafarianism"></i> Import Extras</a>
  {{/if}}
    <a class="item" data-tab="sync"><i class="fas fa-arrow-alt-circle-up"></i></i> Update D&D Beyond</a>
    <a class="item" data-tab="help"><i class="fas fa-info-circle"></i> Help</a>
  </nav>

  <!-- Import Tab -->
  <section class="tab" data-tab="import">
  <div>
    <h3>Update selection</h3>
    <p>Only ticked items will be updated.</p>
    <div class="import-policy-group">
      {{#each importPolicies}}
      <div class="import-policy"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
          name="character-import-policy-{{this.name}}" data-section="{{this.name}}">{{this.description}}
      </div>
      {{/each}}
    </div>
    <hr>
    <div>
      <h3>Update configuration</h3>
      {{#each importConfig}}
      <div class="import-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
          name="character-import-policy-{{this.name}}" data-section="{{this.name}}"
          {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
      </div>
      {{/each}}
    </div>
    <hr>
    <div>
      <h3>Notes</h3>
      <p>To get full known spell lists for Clerics, Druids and Paladins set your cobalt cookie (in the module settings).<br>
          Use my <a href="https://github.com/MrPrimate/ddb-importer-chrome">Chrome extension</a> to get this!
      </p>
      <p>While you wait, why not support me on <a href="https://www.patreon.com/MrPrimate">Patreon</a>?</p>
    </div>
    <hr>
    <div class="form-section">
      <div class="form-description">
        <div class="form-description"></div>
        <div>
          <button type="button" id="dndbeyond-character-import-start"
            {{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}enabled{{else}}disabled{{/if}}>Start Import</button>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Advanced Configuration Tab -->
  <section class="tab" data-tab="config">
    <p>If you're using this module for the first time, you probably don't want to enable these.</p>
    {{#each advancedImportConfig}}
    <div class="advanced-import-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
        name="character-import-policy-{{this.name}}" id="character-import-policy-{{this.name}}" data-section="{{this.name}}"
        {{#if this.enabled}}enabled{{else}}disabled{{/if}}><b>{{this.title}}</b><p>{{{this.description}}}</p>
    </div>
    {{/each}}
</section>

<!-- Extras section -->
  <section class="tab" data-tab="extras">
<div>
    <h3>Configuration</h3>
    <div>
      {{#each extrasConfig}}
      <div class="extras-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
          name="character-extras-policy-{{this.name}}" data-section="{{this.name}}"
          {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
      </div>
      {{/each}}
    </div>
    <p>Extras parsing makes a number of assumptions about the configuration.</p>
    <p>This will be more customisable in the future.</p>
    <hr>
    <div class="form-section">
      <div class="form-description">
        <div class="form-description"></div>
        <div>
          <button type="button" id="dndbeyond-character-extras-start"
            {{#if syncEnabled}}
            {{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}enabled{{else}}disabled{{/if}}{{else}}disabled{{/if}}>
            {{#if tiers.supporter}}[Experimental] Import Extras{{else}}[Experimental] Import Extras Available to Patreon Supporters{{/if}}</button>
        </div>
      </div>
    </div>
  </div>

  </section>

<!-- Sync/Upload Tab -->
  <section class="tab" data-tab="sync">

    <h3>Update selection</h3>
    <p>Select the changes you wish to update on D&D Beyond.</p>
    <div class="sync-policy">
      {{#each syncConfig}}
      {{#if this.enabled}}
      <div class="sync-policy"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
          name="sync-policy-{{this.name}}" id="sync-policy-{{this.name}}" data-section="{{this.name}}"
          {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}{{#if this.enabled}}{{else}} [Coming soon!]{{/if}}
      </div>
      {{/if}}
      {{/each}}
    </div>
  <hr>
  <p>For best results you will need to re-munch spells and items if you did this prior to the 0.3.0 release. If you imported your character with an earlier version some features may not update (such as Hit Dice) until you have reimported.</p>
  <p>Item update only works with items imported from DDB into the Item Compendium or via a character.</p>
  <div class="form-section">
      <div class="form-description">
        <div class="form-description"></div>
        <div>
          <button type="button" id="dndbeyond-character-update"
            {{#if syncEnabled}}enabled{{else}}disabled{{/if}}>{{#if tiers.supporter}}Update D&D Beyond with changes{{else}}D&D Beyond Update Available to Patreon Supporters{{/if}}</button>
        </div>
      </div>
    </div>

  </section>

<!-- Help Tab -->
  <section class="tab" data-tab="help">
    <h3>Videos</h3>
    <p>If you need help getting setup checkout the following YouTube videos:</p>
    <ul>
      <li>Encounter Library's <a href="https://www.youtube.com/watch?v=9PjPkugkF1o">Overview (Install, Setup, How to Use)</a> is recommended!</li>
      <li>MrPrimate's <a href="https://youtu.be/8XRxCy9xmyE">Installation, configuration and character imports</a></li>
      <li>MrPrimate's <a href="https://youtu.be/98KGHSM33U0">Spells, Items, and Monsters</a></li>
    </ul>
    <h3>FAQ</h3>
    <ul>
      <li>If Spells and Items are not syncing please try munching them again.</li>
      <li>If AC is not calculating properly and you are using DAE you may need to turn off Auto Calculate AC in the settings.</li>
      <li>The module will try and retain settings for common modules such as MESS, midi-qol etc.</li>
    </ul>
    <h3>Troubleshooting</h3>
    <ul>
      <li>Make sure you're using the latest version.</li>
      <li>Check that your character is complete of D&D Beyond.</li>
      <li>Try unticking any option marked Experimental.</li>
      <li>Ask a question/submit a bug on <a href="https://discord.gg/WzPuRuDJVP">Discord</a>.</li>
      <li>Or submit a bug on <a href="https://github.com/MrPrimate/ddb-importer">GitHub</a>.</li>
    </ul>
    <h3>Community</h3>
    <ul>
      <li>Join us on <a href="https://discord.gg/WzPuRuDJVP">Discord</a></li>
      <li>Support me on <a href="https://patreon.com/MrPrimate">Patreon</a></li>
    </ul>
  </section>

<hr>

  <footer class="sheet-footer">
    <div class="task-name"></div>
  </footer>

</form>
