<form>

  <!-- Character Import Header -->
  <header class="sheet-header">
    <img class="effect-icon" src="{{actor.data.token.img}}" data-edit="img">
    <h1 class="effect-title">{{ actor.name }}</h1>
  </header>

  <hr>
    <div class="form-section">
    <div class="form-description">
      <p>Insert your character URL.</p>
    </div>
    <div class="form-caption">
      URL
      <span class="dndbeyond-url-status">{{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}<i
          class="fas fa-check-circle" style="color: green"></i>{{else}}<i></i>{{/if}}</span>
    </div>
    <div class="form-content" style="display: flex">
      <input type="text" name="dndbeyond-url" style="flex: 0 1 auto" ;
        value="{{#if actor.data.flags.ddbimporter.dndbeyond.url}}{{actor.data.flags.ddbimporter.dndbeyond.url}}{{/if}}" />
      <button type="button" id="open-dndbeyond-url" name="open-dndbeyond-url"
        style="flex-basis: 20px; flex-grow: 0;line-height: 20px;"
        {{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}enabled{{else}}disabled{{/if}}>
        <i class="fas fa-external-link-alt"></i></button>
    </div>
    <div class="form-caption">
      Character ID
    </div>
    <div class="form-content">
      <span
        class="dndbeyond-character-id">{{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}{{actor.data.flags.ddbimporter.dndbeyond.characterId}}{{else}}Not detected{{/if}}</span>
    </div>

  </div>

  <!-- Character Configuration Tabs -->
  <nav class="sheet-tabs tabs">
    <a class="item active" data-tab="import"><i class="fas fa-book"></i> Import Character</a>
    <a class="item" data-tab="config"><i class="fas fa-cogs"></i> Advanced Settings</a>
    <a class="item" data-tab="upload"><i class="fas fa-external-link-alt"></i> Sync to D&D Beyond</a>
  </nav>

  <!-- Import Tab -->
  <section class="tab" data-tab="import">
  <div>
    <h3>Update selection</h3>
    <p>Only ticked items will be updated.</p>
    <div class="import-policy-group">
      {{#each importPolicies}}
      <div class="import-policy"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
          name="character-import-policy-{{this.name}}" data-section="{{this.name}}">{{this.description}}
      </div>
      {{/each}}
    </div>
    <hr>
    <div>
      <h3>Update configuration</h3>
      {{#each importConfig}}
      <div class="import-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
          name="character-import-policy-{{this.name}}" data-section="{{this.name}}"
          {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
      </div>
      {{/each}}
    </div>
    <hr>
    <div>
      <h3>Notes</h3>
      <p>To get full known spell lists for Clerics, Druids and Paladins set your cobalt cookie (in the module settings).<br>
          Use my <a href="https://github.com/MrPrimate/ddb-importer-chrome">Chrome extension</a> to get this!
      </p>
      <p>While you wait, why not support me on <a href="https://www.patreon.com/MrPrimate">Patreon</a>?</p>
    </div>
    <hr>
    <div class="form-section">
      <div class="form-description">
        <div class="form-description"></div>
        <div>
          <button type="button" id="dndbeyond-character-import-start"
            {{#if actor.data.flags.ddbimporter.dndbeyond.characterId}}enabled{{else}}disabled{{/if}}>Start Import</button>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Advanced Configuration Tab -->
  <section class="tab" data-tab="config">
    <p>If you're using this module for the first time, you probably don't want to enable these.</p>
    {{#each advancedImportConfig}}
    <div class="advanced-import-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
        name="character-import-policy-{{this.name}}" id="character-import-policy-{{this.name}}" data-section="{{this.name}}"
        {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
    </div>
    {{/each}}
</section>

<!-- Advanced Configuration Tab -->
  <section class="tab" data-tab="upload">

<div>
  This is a super secret project yo.
</div>
  </section>

<hr>

  <footer class="sheet-footer">
    <div class="task-name"></div>
  </footer>

</form>
