<h2>DDB Importer Compendium Configuration!</h2>
<p>Where do you want your stuff to go?</p>

<div class="form-description">
  <form id="ddb-importer-settings" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-content">
      <hr>
      {{#each compendiums}}
      <div class="form-group">
        <h3><label for="compendiums">{{this.name}}</label></h3>
        <select name="{{this.setting}}" id="{{this.setting}}" style="flex: 55%">
          {{#each this.compendiums}}
            <option value="{{@key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
          {{/each}}
        </select>
      </div>
      <hr>
      {{/each}}

    </div>
      {{#each settings}}
      <div class="munching-compendium-setting">
        <input {{#if this.isChecked}}checked{{/if}} type="checkbox"
              id="{{this.name}}"
              name="{{this.name}}"
              data-section="{{this.name}}" {{#if this.enabled}}enabled{{else}}disabled{{/if}}>
        {{this.description}}
      {{/each}}

    <hr>
</div>
    <button id="munch-monsters-compendium" class="munch-button" type="submit">Save</button>
  </form>

</div>

