<form>
  <header class="sheet-header">
    <img class="item-icon" src="{{img}}" data-edit="img">
    <h3 class="item-title">{{name}} on {{character}}</h3>
  </header>

  <p>Protect this item during character import.</p>

  <hr>
  <div class="form-description">
    <div class="form-group">
      <label for="override">Item from Override Compendium?</label>
      <select name="override" id="override" style="flex: 55%">
        {{#each overrides}}
          <option value="{{@key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
    </div>
    <hr>
    {{#each settings}}
    <div>
      <input {{#if this.isChecked}}checked{{/if}} type="checkbox" name="{{this.name}}">{{this.description}}
    </div>
    {{/each}}
  </div>
  <hr>
  <button id="ddb-item-config-settings" class="ddb-item-config-button" type="submit">Save</button>
</form>
