<h2>Monster Muncher Source Selection</h2>
<p>Mmmmmm sauce.</p>
<p>If you have any sources selected, homebrew will not be imported.</p>
<p>If you have no sources selected, content from all books will be imported.</p>
<p>If you have <b>all</b> sources selected here it probably <b>won't work</b>.</p>


<div class="form-description">
  <form id="ddb-importer-sources" autocomplete="off" onsubmit="event.preventDefault();">
    <button id="toggle-sources" class="toggle-sources">Toggle Source Selection</button>
    <p><i>e.g. BBQ or Garlic?</i></p>
    <div class="form-content">
      <hr>
      {{#each sources}}
      <div class="munching-sources">
        <input {{#if this.selected}}checked{{/if}} type="checkbox"
              id="{{this.id}}"
              name=" {{this.id}}"
              data-section="{{this.label}}">
        {{this.label}} ({{this.acronym}})
      </div>
      {{/each}}
      <hr>
    </div>
    <button id="munch-monsters-compendium" class="munch-button" type="submit">Save</button>
  </form>
</div>
