<section id="ddb-character-manager-advanced" class="tab {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">


  <fieldset>
    <legend>Actor Specific Settings</legend>

    <p>You can save a Cobalt Cookie to use just for this character. This is saved in your browser and can only be used by you, on the current machine.</p>

      <button type="button" id="delete-local-cobalt" {{#if cobaltSet}}enabled{{else}}disabled{{/if}}>Delete local Cobalt Cookie</button>
      <button type="button" id="set-local-cobalt">{{#if cobaltSet}}Update Cobalt Cookie{{else}}Add Cobalt Cookie{{/if}}</button>

    <p>You can save a Patreon key to use just for this character. This is saved in your browser and can only be used by you, on the current machine to update the character back to DDB.</p>

      <button type="button" id="delete-local-patreon-key" {{#if useLocalPatreonKey}}enabled{{else}}disabled{{/if}}>Delete local Patreon Key</button>
      <button type="button" id="set-local-patreon-key">{{#if useLocalPatreonKey}}Update Patreon Key{{else}}Add Patreon Key{{/if}}</button>

    </fieldset>



</section>
