<div>
    <div class = "form-group-import">
        <h2>Import from DDB with a single click.</a></h2>
        <h3>Your data is cached once munched for an hour or so to avoid spamming DDB.</h3>
        <ul>
            <li>Before you can munch make sure your Cobalt token is set in configuration. The button will be greyed out until this is set.</li>
            <li>Use my <a href="https://github.com/MrPrimate/ddb-importer-chrome">Chrome extension</a> to get this!</li>
            <li>If you're sharing content in a Campaign, add the Campaign ID in the extension settings.</li>
            <li>This feature can take a <b>long</b> time, please be patient and leave the browser tab open.</li>
            <li>While you wait, why not join me on <a href="https://www.patreon.com/MrPrimate">Patreon</a>? Active Patreon supports will get beta access to Monster Munching in December.</li>
        </ul>
        <hr>
        <div class="munching-task-name" id="munching-task-name">
          <br />
        </div>
        <div class="munching-task-notes" id="munching-task-notes">
          <br />
        </div>
        <hr>
        <div>
            <h3>Munching flavours</h3>
            {{#each genericConfig}}
            <div class="munching-generic-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
                    id="munching-generic-policy-{{this.name}}"
                    name="munching-policy-{{this.name}}"
                    data-section="{{this.name}}" {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
            </div>
            {{/each}}
        </div>

        <div>
          <hr>
        </div>

        <div class="form-section">
            <div class="form-description">
                <div class="form-description"></div>
                    <div>
                      <div>
                      {{#each spellConfig}}
                      <div class="munching-spell-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
                              name="munching-policy-{{this.name}}"
                              data-section="{{this.name}}" {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
                      </div>
                      {{/each}}

                        <button type="button" id="munch-spells-start" class="munch-button"
                            {{#if cobalt}}enabled{{else}}disabled{{/if}}>Spell Munch</button>
                    </div>
                    <hr>
                     <div>
                        <button type="button" id="munch-items-start" class="munch-button"
                            {{#if cobalt}}enabled{{else}}disabled{{/if}}>Item Munch</button>
                    </div>
                     <div>
                        <button type="button" id="munch-features-start" class="munch-button"
                            {{#if cobalt}}disabled{{else}}disabled{{/if}}><s>Class Features Munch</s> SOON!</button>
                    </div>
                     <hr>
                     <div>
                       <h4>Monster Search Filter (leave blank for all)</h4>
                    </div>
                     <div class="form-content" style="display: flex">
                        <input type="text" name="monster-filter" id="monster-munch-filter" style="flex: 0 1 auto" ;value="" />
                    </div>
                      {{#each monsterConfig}}
                      <div class="munching-monster-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
                              name="munching-policy-{{this.name}}"
                              data-section="{{this.name}}" {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
                      </div>
                      {{/each}}
                    <div>
                        <button type="button" id="munch-monsters-start" class="munch-button"
                            {{#if beta}}enabled{{else}}disabled{{/if}}>{{#if beta}}Monster Munch BETA!{{else}}<s>Monster Munch</s> SOON!{{/if}}</button>
                    </div>
                    Make sure you have imported spells before Monsters!
                </div>
            </div>
        </div>
    </div>
</div>
