<div>
    <div class = "form-group-import">
        <h2>Import from DDB with a single click.</a></h2>
        <h3>Your data is cached once munched for an hour or so to avoid spamming DDB.</h3>
        <ul>
            <li>Before you can munch make sure your Cobalt token is set in configuration. The button will be greyed out until this is set.</li>
            <li>Use my <a href="https://github.com/MrPrimate/ddb-importer-chrome">Chrome extension</a> to get this!</li>
            <li>This feature can take a <b>long</b> time, please be patient and leave the browser tab open.</li>
        </ul>
        <hr>
        <br />
        <div class="munching-task-name" id="munching-task-name">
          <b> </b>
        </div>
        <div class="munching-task-notes" id="munching-task-notes">
          <b> </b>
        </div>
        <br />

        <hr>
        <div>
            <h3>Munching flavours</h3>
            {{#each importConfig}}
            <div class="munching-import-config"><input {{#if this.isChecked}}checked{{/if}} type="checkbox"
                    name="munching-policy-{{this.name}}"
                    data-section="{{this.name}}" {{#if this.enabled}}enabled{{else}}disabled{{/if}}>{{this.description}}
            </div>
            {{/each}}
        </div>
        <hr>

        <div>
          <hr>
        </div>

        <div class="form-section">
            <div class="form-description">
                <div class="form-description"></div>
                    <div>
                        <button type="button" id="munch-spells-start" class="munch-button"
                            {{#if cobalt}}enabled{{else}}disabled{{/if}}>Spell Munch</button>
                    </div>
                     <div>
                        <button type="button" id="munch-items-start" class="munch-button"
                            {{#if cobalt}}enabled{{else}}disabled{{/if}}>Item Munch</button>
                    </div>
                     <div>
                        <button type="button" id="munch-features-start" class="munch-button"
                            {{#if cobalt}}disabled{{else}}disabled{{/if}}><s>Class Features Munch</s> SOON!</button>
                    </div>
                     <div>
                        <button type="button" id="munch-monsters-start" class="munch-button"
                            {{#if beta}}enabled{{else}}disabled{{/if}}><s>Monster Munch</s> SOON!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
