<section id="ddb-importer-muncher-tools-compendiums" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  <fieldset>
  <legend>Compendium Folders Migration</legend>
  <p>Compendium folder migration can take a while against big compendiums.</p>
  <div class="form-group" style="display: flex">
    <select name="compendium-folder-style" id="compendium-folder-style-monster" style="flex: 55%; vertical-align:middle">
      {{#each compendiumFolderMonsterStyles}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
      <button data-action="migrateCompendiumMonster" type="button" id="munch-migrate-compendium-monster" style="vertical-align:middle" class="munch-button" enabled>Migrate Monster Compendium</button>
  </div>
  <div class="form-group" style="display: flex">
    <select name="compendium-folder-style" id="compendium-folder-style-spell" style="flex: 55%; vertical-align:tomiddlep">
      {{#each compendiumFolderSpellStyles}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
      <button data-action="migrateCompendiumSpell" type="button" id="munch-migrate-compendium-spell" style="vertical-align:middle" class="munch-button" enabled>Migrate Spell Compendium</button>
  </div>
  <div class="form-group" style="display: flex">
    <select name="compendium-folder-style" id="munching-selection-compendium-folders-item" style="flex: 55%; vertical-align:middle">
      {{#each compendiumFolderItemStyles}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
      <button data-action="migrateCompendiumItem" type="button" id="munch-migrate-compendium-item" style="vertical-align:middle" class="munch-button" enabled>Migrate Item Compendium</button>
  </div>
  </fieldset>
</section>
