<section id="ddb-importer-muncher-sources" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">

    <fieldset>
    <legend>Included Flavour Profiles (Categories)</legend>
    <p>By default DDB Importer <strong>excludes</strong> third party categories from being imported.</p>
    <p>The following categories will be included. Please adjust to taste.</p>
    <p>Categories are used on D&D Beyond to filter content.
These are groups of books.
The 2024 PHB, MM and DMG are considered "5.5e Core Rules". 2014 Books are 5e.
Expanded content are books like XGtE.
Legacy/non-core are books that were replaced in the 2014 ruleset lifecycle like Mordenkainen’s Tome of Foes.</p>
    <div class="form-fields" id="munch-included-config">
      <multi-select id="muncher-included-source-categories" name="muncher-included-source-categories" class="ddb-source-select">
        {{#each includedCategories}}
        <option value="{{this.id}}" data-tooltip="{{this.description}}" {{this.selected}}> {{this.label}}</option>
        {{/each}}
      </multi-select>
    </div>
    </fieldset>

    {{#if categoryBooks.length}}
    <details class="ddb-category-books-details">
      <summary>Source Books by Category</summary>
      <div class="ddb-category-books-content">
        {{#each categoryBooks}}
        <div class="ddb-category-group">
          <h4>{{this.categoryName}}</h4>
          <ul>
            {{#each this.books}}
            <li><strong>{{this.name}}</strong> - {{this.description}}</li>
            {{/each}}
          </ul>
        </div>
        {{/each}}
      </div>
    </details>
    {{/if}}

</section>
