<form class="{{cssClass}}" autocomplete="off" onsubmit="event.preventDefault();">
  <div class="import-file-selector form-description">
    <p>Select an adventure file already uploaded to Foundry or select a local file to import.</p>
    <hr>
    <div>
      <select style="text-align:center" name="import-file" id="import-file">
        <option></option>
        {{#each files}}
        <option value="{{this.path}}">{{this.name}}</option>
        {{/each}}
      </select>
      Select an uploaded adventure?
    </div>
    <hr>
    <div>
      Upload a local adventure?
      <div class="form-group">
        <input type="file" name="data" accept=".fvttadv"/>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <div data-tooltip="If unchecked will allow scene selections" data-tooltip-direction="UP"><input {{#if allScenes}}checked {{/if}}type="checkbox" name="all-scenes">Import all scenes?</div>
    </div>
    <div class="form-group">
      <div data-tooltip="If unchecked, will only import monsters placed on scenes." data-tooltip-direction="UP"><input {{#if allMonsters}}checked {{/if}}type="checkbox" name="all-monsters">Import all monsters in adventure to world?</div>
    </div>
    <div class="form-group">
      <div data-tooltip="If unchecked, will link to compendium actors." data-tooltip-direction="UP"><input {{#if journalWorldActors}}checked {{/if}}type="checkbox" name="journal-world-actors">Link journals to world actors?</div>
    </div>
    <div class="form-group">
      <div data-tooltip="If checked will add adventure journals into the DDB Journals compendium." data-tooltip-direction="UP"><input {{#if addToCompendiums}}checked {{/if}}type="checkbox" name="add-to-compendiums">Add Journals and Tables to Compendiums?</div>
    </div>
    <hr>
    <div class="import-progress import-hidden">
      <div class="import-progress-bar" style="width: 0%"></div>
    </div>
    <div>
      <button class="world-button" data-button="world">
        <i class="fas fa-check"></i>
        {{localize "ddb-importer.adventure-import.button"}}
      </button>
    </div>
    <hr>
     <div>
      <button class="compendium-button" data-button="compendium">
        <i class="fas fa-check"></i>
        {{localize "ddb-importer.adventure-import.compendium-button"}}
      </button>
    </div>
  </div>
  <div class="ddb-overlay import-invalid">
    <div class="ddb-working import-hidden"><i class="fas fa-cog"></i><div style="font-size: 15px; text-align: center;">Updating References...</div></div>
  </div>
</form>
