<form class="{{content.cssClass}}" autocomplete="off" onsubmit="event.preventDefault();">
  <div>
    <p class="notes">The following {{content.dataTypeDisplay}} data has updates available, please choose which ones you want to apply by ticking the corresponding checkbox.</p>
    <p class="notes">Meta Data changes effect scenes, walls and tokens on the scene. Adventure Muncher Update can effect a wide variety of resources. DDB Importer version change is unlikely to effect anything.</p>
    <p class="notes">Foundry version change is dangerous, and means that scenes are likely to import correctly. This means the scene was generated with a later version of Foundry.</p>
    <div>
      <div class="form-description">
        {{#each content.fileData}}
          {{#if this.flags.ddb.versions}}
          <div>
            <input id="new_{{this._id}}" name="new_{{this._id}}" type="checkbox" value="">
            {{#if this.flags.ddb.versions.importer.foundryVersionNewer}}
              <label for="new_{{this._id}}">{{this.name}} : <i style="color:red">Foundry v{{this.flags.ddb.versions.ddbMetaData.foundry}} used to generate this scene!</i> </label>
            {{else if this.flags.ddb.versions.importer.metaVersionChanged}}
              <label for="new_{{this._id}}">{{this.name}} : <i>from {{#if this.flags.ddb.oldVersions.ddbMetaData.lastUpdate}}v{{this.flags.ddb.oldVersions.ddbMetaData.lastUpdate}}{{else}}unknown version{{/if}} to v{{this.flags.ddb.versions.ddbMetaData.lastUpdate}}</i>{{#if this.flags.ddb.versions.ddbMetaData.tokenVersionChanged}} <i class="fa fa-pastafarianism" title="Tokens changed"></i>{{/if}}{{#if this.flags.ddb.versions.wallVersionChanged}} <i class="fa fa-door-closed" title="Walls changed"></i>{{/if}}{{#if this.flags.ddb.versions.noteVersionChanged}} <i class="fa fa-map-pin" title="Note pins changed"></i>{{/if}}{{#if this.flags.ddb.versions.lightVersionChanged}} <i class="fa fa-lightbulb" title="Lights changed"></i>{{/if}}{{#if this.flags.ddb.versions.drawingVersionChanged}} <i class="fa fa-pen" title="Drawings changed"></i>{{/if}}</label>
            {{else}}
              <label for="new_{{this._id}}">{{this.name}} : <i>v{{this.flags.ddb.versions.ddbMetaData.lastUpdate}}</i> <i class="fa fa-info" title="Previous versions:&#10;{{#if this.flags.ddb.versions.importer.importerVersionChanged}}DDB-Importer {{this.flags.ddb.versions.ddbImporter}} (previous: {{#if this.flags.ddb.oldVersions.ddbImporter}}v{{this.flags.ddb.oldVersions.ddbImporter}}{{else}}unknown{{/if}})&#10;{{/if}}{{#if this.flags.ddb.versions.importer.muncherVersionChanged}}DDB Adventure Muncher {{this.flags.ddb.versions.adventureMuncher}} (previous: {{#if this.flags.ddb.oldVersions.adventureMuncher}}v{{this.flags.ddb.oldVersions.adventureMuncher}}{{else}}unknown{{/if}}){{/if}}"></i></label>
            {{/if}}
          </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
    <input type="hidden" name="type" value="{{content.dataType}}">
    <div class="dialog-buttons">
      <button class="dialog-button" data-button="confirm">
        <i class="fas fa-check"></i>
        {{localize "ddb-importer.adventure-import.confirm"}}
      </button>
    </div>
  </div>
</form>


