<div class="{{cssClass}}" autocomplete="off">
  <h1>{{content.adventure.name}}</h1>
  <h3>
    {{{content.adventure.description}}}
  </h3>
  <div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
  </div>
</div>
