<section id="ddb-importer-muncher-monster-art" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset>
  <legend>Monster Art and Images</legend>
    {{#each artMonsterConfig}}
    <div class="form-group munching-monster-config-art">
      <label class="ddbimporter-long">{{ this.label }}</label>
      <div class="form-fields">
        <dnd5e-checkbox name="{{this.name}}" id="{{this.name}}" {{#if this.isChecked}}checked{{/if}}
        data-section="{{this.name}}" {{#if this.enabled}}enabled{{else}}disabled{{/if}}></dnd5e-checkbox>
      </div>
      <p class="hint">{{{this.hint}}}</p>
    </div>
    {{/each}}
  </fieldset>

</section>
