<section id="ddb-importer-muncher-monster-settings" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

    <fieldset>
    <legend>Settings</legend>
      {{#each basicMonsterConfig}}
      <div class="form-group munching-monster-config-basic">
        <label>{{ this.label }}</label>
        <div class="form-fields">
          <dnd5e-checkbox name="{{this.name}}" id="{{this.name}}" {{#if this.isChecked}}checked{{/if}}
          data-section="{{this.name}}" {{#if this.enabled}}enabled{{else}}disabled{{/if}}></dnd5e-checkbox>
        </div>
        <p class="hint">{{{this.hint}}}</p>
      </div>
      {{/each}}
    </fieldset>

</section>
