<section id="ddb-importer-settings-patreon" class="tab {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
<fieldset>

  <legend>[Optional] Patreon Link</legend>

  <p>Link your <a href="https://www.patreon.com/MrPrimate">Patreon account</a> by clicking the button, or enter a <a href="https://activate.ddb.mrprimate.co.uk">generated key</a>.</p>
  <button data-action="connectToPatreonButton" id="patreon-button" class="patreon-button">Detect Patreon Status</button>
  <p>Patreon User: <i id=ddb-patreon-user>{{#if this.patreonLinked}}{{patreonUser}}{{else}}Not connected{{/if}}</i></p>
  <p>Tier: <i id=ddb-patreon-tier>{{#if this.tier}}{{this.tier}}{{else}}{{/if}}</i></p>
  <p>Valid: <i id=ddb-patreon-valid>{{#if this.tier}}{{validKey}}{{else}}{{/if}}</i></p>
  <p>If you have been provided a Key, enter it here instead:</p>
  <input id="ddb-patreon-key" class="setup-config" type="password" name="patreon-key" style="flex: 0 1 auto" ;
    value="{{setupConfig.patreon-key}}" />
    <p><i>Note: this will be auto filled when you connect to patreon, you may need to occasionally refresh this key.</i></p>

  <button data-action="checkPatreonButton" id="check-patreon-button" class="check-patreon-button">Check Patreon Status{{this.patreonCheckMessage}}</button>

</fieldset>

<div class="flexrow">
<button data-action="goToCampaignTab"><i class="fas fa-chevron-left"></i> Previous</button>
<button disabled>Next <i class="fas fa-chevron-right"></i></button>
</div>

</section>
