<section id="ddb-importer-muncher-characters" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset>
    <legend>Character Import</legend>
    <p>Characters can be imported using the DDB button on the character tab. Find out details <a href="https://docs.ddb.mrprimate.co.uk/docs/ddb-importer/character">here</a>.</p>
  </fieldset>

  <fieldset>
    <legend>Details</legend>
    <p>Please import Feats before Backgrounds and Classes/Class Features.</p>

    <p>Character Option is currently in Alpha Testing for God Tier Patreon Supporters. It will be coming to Undying Tier soon. For more details see the Patreon Post.</p>

  </fieldset>

  <fieldset>
    <legend>Character URL</legend>
    To import characters you need to sacrifice a character to the Old Gods.
    This character will be adjusted wiped and left in an empty state. Please don't use a beloved character.

    <div class="form-caption">
      URL <span class="dndbeyond-url-status">{{#if muleURL}}<i
          class="fas fa-check-circle" style="color: green"></i>{{else}}<i></i>{{/if}}</span>
    </div>
    <div class="form-content" style="display: flex">
      <input type="text" name="dndbeyond-url" style="flex: 0 1 auto" ;
        value="{{#if muleURL}}{{muleURL}}{{/if}}" />
    </div>
  </fieldset>

  <fieldset>
    <legend>Options Character URL</legend>
    <div class="form-group">
      <label>Include Homebrew?</label>
      <div class="form-fields">
        <dnd5e-checkbox name="munching-policy-character-fetch-homebrew" id="munching-policy-character-fetch-homebrew"
        {{#if this.useCharacterHomebrew}}checked{{/if}} data-section="munching-policy-character-fetch-homebrew" ></dnd5e-checkbox>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <button data-action="parseFeats" type="button" id="munch-feats-start" class="munch-button"
      {{#if characterMunch}}enabled{{else}}disabled{{/if}}>Feat Munch</button>

    <button data-action="parseBackgrounds" type="button" id="munch-backgrounds-start" class="munch-button"
      {{#if characterMunch}}enabled{{else}}disabled{{/if}}>Background Munch</button>

    <button data-action="parseClasses" type="button" id="munch-classes-start" class="munch-button"
      {{#if characterMunch}}enabled{{else}}disabled{{/if}}>Class Munch</button>

    <button data-action="parseSpecies" type="button" id="munch-species-start" class="munch-button"
      disabled>Species Munch - Coming soon</button>
  </fieldset>

</section>
