<section id="ddb-importer-muncher-characters" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset>
    <legend>Character Import</legend>
    <p>Characters can be imported using the DDB button on the character tab. Find out details <a href="https://docs.ddb.mrprimate.co.uk/docs/ddb-importer/character">here</a>.</p>
  </fieldset>

  <fieldset>
    <legend>Character Options Import</legend>
    <p>Please import Feats before Backgrounds and Classes/Class Features.</p>

    <p>Character Option is currently in Alpha Testing for God Tier Patreon Supporters. It will be coming to Undying Tier soon. For more details see the Patreon Post.</p>

  </fieldset>

  <fieldset>
    <button data-action="parseFeats" type="button" id="munch-feats-start" class="munch-button"
      {{#if characterMunch}}enabled{{else}}disabled{{/if}}>Feat Munch</button>

    <button data-action="parseBackgrounds" type="button" id="munch-backgrounds-start" class="munch-button"
      {{#if characterMunch}}enabled{{else}}disabled{{/if}}>Background Munch</button>

    <button data-action="parseClasses" type="button" id="munch-classes-start" class="munch-button"
      {{#if characterMunch}}enabled{{else}}disabled{{/if}}>Class Munch</button>

    <button data-action="parseSpecies" type="button" id="munch-species-start" class="munch-button"
      disabled>Species Munch - Coming soon</button>
  </fieldset>

</section>
