<section id="ddb-importer-muncher-maps" class="tab ddb-muncher {{ tab.cssClass }} {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <fieldset>
    <legend>Information</legend>
    <div>
      <p>This utility allows you to import Maps from DDB Maps, and stickers as well. This feature is available to Undying and higher tier Patreon Supporters.</p>
    </div>
    <div>
      <h4>What's the difference between this and Adventure Muncher/Import?</h3>
      <p><i>This does not import any journals, tables, or adventure content. Right now it imports scenes, and does some analysis to try and determine the grids, and if Quickplay is enabled for the map on DDB it will try to add stickers and tokens. It's not really intended for importing many maps at once.</i></p>
      <p>It doesn't add walls, lights, or have had much human TLC to examine and adjust the scene. Integration with the Adventure Muncher Data to allow this will come at a future time, based on feedback.</p>
      <p>This does allow access to a large number of maps that are not available outside of DDB Maps.</p>
    </div>
  </fieldset>

  <button data-action="openMapBrowser" type="button" id="munch-maps-open" class="munch-button" {{#if tiers.experimentalMid}}{{else}}disabled{{/if}}>
    <i class="fas fa-map"></i> {{#if tiers.experimentalMid}}Open Map Browser{{else}}Available for higher tiers{{/if}}
  </button>
  <button data-action="openStickerBrowser" type="button" id="munch-stickers-open" class="munch-button" {{#if tiers.experimentalMid}}{{else}}disabled{{/if}}>
    <i class="fas fa-shapes"></i> {{#if tiers.experimentalMid}}Open Sticker Browser{{else}}Available for higher tiers{{/if}}
  </button>
</section>
